@import "tailwindcss";

:root {
  color-scheme: dark;
}

@theme {
  --color-ucf-gold: #FFC904;
  --color-ucf-black: #000000;
  --color-ucf-white: #FFFFFF;
  --color-brand-primary: var(--color-ucf-gold);
  --color-brand-secondary: var(--color-ucf-black);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

input, textarea, select {
  color: #171717 !important;
}
